@charset "utf-8";
/* CSS Document */

#background {
	position: fixed;
	z-index: 0;
	height: 100%;
	width: 100%;
	background-color:#fbfba2;
	height: 100%;
	width: 100%;
}

#background img {
	height: 100%;
	width: 100%;
	z-index: 0;	
}

#header {
	text-align:center;
	font-size:2.8em;
	font-weight: bold;
	font-family:"Century Gothic";
	color: white;
	position:absolute;
	top:0%;
	left: 0%;
	width: 98%;
	z-index:20;
	background-color:#333333;
	padding: 1% 1% 1.5% 1%;
	opacity:0.7;
  	filter:alpha(opacity=70); /* For IE8 and earlier */
}

#linkedin {
	position: absolute;
	top: 1%;
	right: 1%;
	z-index: 21;	
}

#linkedin img {
	height: 2.7em;
	width: 2.7em;
	z-index:22;
}

.center {
	position: relative;
	font-weight: bold;
	color: #ffffff;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:80%;
	height:95%;
	z-index: 10;
	margin-top: 10%;
	margin-left: 10%;
	background-color:#333333;
	padding: 0.5% 0% 6% 2%;
	opacity:0.85;
  	filter:alpha(opacity=85); /* For IE8 and earlier */
}

center h1 {
	padding:0% 1% 1% 1%;
	position: relative;	
}

.center p {
	position:relative;
	font-size:1em;
	color: #ffffff;
	padding: 10px 3px 0px 10px;
	margin-right: 0px;
	margin-top: 0px;
	float:left;
	display:inline-block;
	width: 70%;
}

.center img { 
	position:relative;
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
	padding: 0% 0% 0% 0%;
	width: 26%;
	height: 8em;
}

#monogram {
	position:fixed;
	right:0.5%;
	bottom:0%;	
}